:local(.itemContainer:hover) {
  background-color: #ebebeb;
}
:local(.itemContainer) {
  /*font-family: "OpenSansRegular";*/
  background-color: white;
  /*height: 142px;*/
  width: 100%;
  color: #4c4c4c;
  line-height: 50px;
  padding-left: 10px;
  font-size: 16px;
  letter-spacing: -0.5px;
}
:local(.subMenuContainer) {
  background-color: #f4f4f4;
  position: absolute;
  width: 150%;
  left: 100%;
  top: 0;
  height: 100%;
  border-left: 1px solid #838383;
}
:local(.menuArrow){
  right: 5px;
  position: absolute;
  transform: translate(0, -86%);
}