:local(.editorItemContainer){
  margin: 5px 5px 25px 5px;
}
:local(.postItemContent){
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 10px 10px 10px;
  border-top: 1px solid #575757;
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}

:local(.editorHeader){
  padding: 0;
  display: inline-flex;
}
:local(.editorImage){
  width: 130px;
  height: 150px;
  margin-right: 5px;
}

:local(.postTitle),
:local(.editorText),
:global(.created){
  font-family: "OpenSansLight";
  text-align: left;
  font-size: 18px;
  color: #333333;
}

:local(.editorText){
  font-size: 16px;
}
:local(.editorText p){
  padding: 0;
  margin-bottom: 0;
}

:local(.imageContainer){

}

:local(.postTitle){
  padding-left: 15px;
  /*line-height: 30px;*/
}

:global(.created){
  color: #008ed7;
}
:local(.readMore){
  font-family: "OpenSansRegular";
  font-size: 18px;
  width: 100%;
  height: 50px;
  border: 1px solid #333333;
  background-color: #f7f7f7;
  color: #575757;
  outline: none;
}