:local(.itemContainer){
}
:local(.itemContainer:nth-child(2n+1)),
:local(.itemContainer:nth-child(2n+1) *){
  background-color: #f7f7f7 !important;
}

:local(.itemContainer:nth-child(2n)){
  background-color: white !important;
}

:local(.itemContainer:nth-child(2n+1) p){
  padding-bottom: 10px;
}
:local(.contentContainer){
  font-family: 'OpenSansLight';
  font-size: 12px;
  margin: 0 35pt 0 10pt;
  background-color: #fff;
}

:local(.iconBack svg g g g g path){
  stroke: #008ed7 !important;
}
:local(.iconBack){
  position: absolute;
  padding-top: 10px;
  right: 10pt;
  transform: scale(-1,1);
}
:local(.titleContent){
  font-family: 'OpenSansRegular';
  color: #008ed7;
  font-size: 15px;
  padding-top: 10px;
  margin: 0 30pt 0 10pt;
}

