:local(.itemContainer){
}
:local(.itemContainer:nth-child(2n+1)){
  background-color: #ecf8ff !important;
}

:local(.itemContainer:nth-child(2n)){
  background-color: white !important;
}

:local(.contentContainer){
  font-family: 'OpenSansLight';
  font-size: 12px;
  margin: 0 10pt 0 10pt;
}

:local(.iconBack svg g g g g path){
  stroke: #008ed7 !important;
}
:local(.iconBack){
  position: absolute;
  right: 10pt;
  transform: scale(-1,1);
}
:local(.titleContent){
  font-family: 'OpenSansRegular';
  color: #008ed7;
  font-size: 15px;
  padding-top: 10px;
  margin: 0 30pt 0 10pt;
}

