:local(.subMenuItemContainer:hover) {
  background-color: #ebebeb;
}
:local(.subMenuItemContainer) {
  line-height: 50px;
  padding-left: 20px;
  font-size: 16px;
  letter-spacing: -0.5px;
  font-family: "OpenSansRegular";
  z-index: 1;
  position: relative;

}