:local(.editorPageContainer) {
  position: relative;
  top: -25px;
  height: calc(100% - 124px);
}
:local(.latestArticleTitle) {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  color: #2e6733;
  letter-spacing: 1.5px;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

:local(.postListContainer) {
  height: calc(100% - 242px);
  overflow: hidden;
  padding: 0;
  margin: 0 5px;
}
:global(.introList) {
  overflow-y: auto;
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

:local(.spinner) {
  transform: translate(-50%, 75%);
}
