:local(.mainContainer) {
    heght: 300px;
    background-color: red;
}

:local(.menuContainer){
    position: absolute;
    height: 100%;
    width: 40%;
    border-right: 1px solid #838383;
}
:local(.menuActivated){
    visibility: hidden;
}
:local(.postContainer){
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
:global(.loadingContainer){
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
:global(.spinner) {
    -webkit-animation: rotating 1.5s linear infinite;
    width: 60px;
    height: 60px;
    border: 1px solid #166332;
    border-radius: 60px;
    border-left-color: #166332;
    border-right-color: #166332;
    border-bottom-color: #166332;
    border-top-color: #e8ebed;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

/* font-family: "OpenSansRegular"; */
/*@font-face {*/
    /*font-family: "OpenSansRegular";*/
    /*src: url("../../../fonts/OpenSansRegular/OpenSansRegular.eot");*/
    /*src: url("../../../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),*/
    /*url("../../../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff");*/
    /*!*url("../../../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");*!*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
/*}*/
