:local(.mainContainer) {
    heght: 300px;
    background-color: red;
}

:local(.menuContainer){
    position: absolute;
    height: 100%;
    width: 40%;
    border-right: 1px solid #838383;
}
:local(.menuActivated){
    visibility: hidden;
}
:local(.postContainer){
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
:global(.loadingContainer){
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
:global(.spinner) {
    -webkit-animation: rotating 1.5s linear infinite;
    width: 60px;
    height: 60px;
    border: 1px solid #166332;
    border-radius: 60px;
    border-left-color: #166332;
    border-right-color: #166332;
    border-bottom-color: #166332;
    border-top-color: #e8ebed;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@font-face {
    font-family: "OpenSansRegular";
    font-style: normal;
    font-weight: normal;
    src: url("../../../fonts/OpenSansRegular.eot");
    src: local('OpenSansRegular'),
        url("../../../fonts/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
        url("../../../fonts/OpenSansRegular.woff") format("woff"),
        url("../../../fonts/OpenSansRegular.ttf") format("truetype");
}

body {
    font-family: 'OpenSansRegular';
}

:global(::-webkit-scrollbar){
    width: 5px;
}
:global(::-webkit-scrollbar-button)      {
    display: none;
}
:global(::-webkit-scrollbar-track)        {
    background: #e8ebed;
    border: 4px solid transparent;
    background-clip: content-box;
}

:global(::-webkit-scrollbar-thumb)        {
    background: #b5b5b5;
    border-radius: 3px;
}
:global(::-webkit-scrollbar-corner)       {
    border-radius: 3px;
    background: #e8ebed;
}
:global(::-webkit-resizer)                {
    display: none;
}
