:local(.mainContainer) {
    heght: 300px;
    background-color: red;
}
:global(.notif__container) {
    left: auto;
    right: 10px;
}

:global(button) {
    cursor: pointer;
}
:local(.popup){
    height: 477px;
}