:local(.postItemContainer){
  margin: 0 5px 25px 0;
}
:local(.postItemContent){
  overflow: auto;
  padding: 10px 10px 10px 10px;
  border-top: 1px solid #575757;
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}
:local(.postItemConteainer:nth-child(2n)){

}
:local(.postItemConteainer:nth-child(2n)){

}

:local(.postHeader){
  padding: 0 0 10px 0;
  display: inline-flex;
}
:local(.postImage){
  width: 155pt;
  /*height: 104pt;*/
}

:local(.postTitle),
:local(.postsText),
:global(.created){
  font-family: "OpenSansLight";
  text-align: left;
  font-size: 18px;
  color: #333333;
}

:local(.postsText){
  /*padding: 10px;*/
}
:local(.postsText p){
  padding: 0;
}

:local(.postTitle){
  padding-left: 15px;
  /*line-height: 30px;*/
}

:global(.created){
  color: #008ed7;
}
:local(.readMore){
  font-family: "OpenSansRegular";
  font-size: 18px;
  width: 100%;
  height: 50px;
  border: 1px solid #333333;
  background-color: #f7f7f7;
  color: #575757;
  outline: none;
}